
/* Configuração Global */
* {
  margin: 0;
  padding: 0;
}
/* Propriedade do Seletor Body */
body{
  text-align: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  color: #828282;
}
/* Propriedades do Seletor Main */
main {
  width: 626px;
  margin: 64px auto;
    
}
/* Propriedades do Seletor Figure e P*/
figure p{
  margin: 0 auto 32px;
}
/* Propriedades do Seletor h1 */
h1{
  margin: 0 auto 16px;
}
