
/* Configuração Global */
* {
  margin: 0;
  padding: 0;
}
/* Propriedade do Seletor Body */
body{
  text-align: center;

  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  color: #828282;
}
/* Propriedades do Seletor Main */
main {
  width: 626px;
  margin: 64px auto;
    
}
/* Propriedades do Seletor Figure e P*/
figure, article p{
  margin: 0 auto 32px;
}
/* Propriedades do Seletor h1 */
h1{
  margin: 0 auto 16px;

  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 32px;

  color: #3F3D56;
}
/* Propriedades do seletor h1 span */
h1 span{
  font-weight: bold;
  color: #EE24FF;
}
/* Pripriedade do seletor p id paragraph */
#paragraph{
  width: 540px;

  margin: auto;
}